.video-container {
    position: relative;
}

#overlay-area {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 10%;
}

.overlay-element {
    position: absolute;
    font-family: 'Nobile', sans-serif;
      font-size: 50px;
      color: white;
}

#explanation-area > .row div {
    margin-top: 20px;
    display: block;
}